<div id="utterances-placeholder"></div>
<script>
        window.onload = () => {
                const script = document.createElement("script");
                script.src = "https://utteranc.es/client.js";
                script.setAttribute("repo", "VincentZalzal/vzalzal-blog");
                script.setAttribute("issue-term", "title");
                script.setAttribute("label", "💬 comment");
                script.crossOrigin = "anonymous";
                script.async = true;

                if (document.body.className.includes("dark")) {
                        script.setAttribute("theme", "github-dark");
                } else {
                        script.setAttribute("theme", "github-light");
                }

                document.getElementById('utterances-placeholder').appendChild(script);
        };
</script>
