<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        const iframe = document.querySelector('.utterances-frame');
        if (iframe) {
            const message = {
                type: 'set-theme',
                // Inverted, because our callback is called before the theme's one, i.e. before the className changes.
                theme: document.body.className.includes("dark") ? 'github-light' : 'github-dark'
            };
            iframe.contentWindow.postMessage(message, 'https://utteranc.es');
        }
    });
</script>
<script async data-id="101428230" src="//static.getclicky.com/js"></script>